/*Styles for Contacts HTML*/
.contact-card {
	background: white;
	filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.2));
	margin: 60px 20% 0 20%;
	padding-bottom: 16px;
	text-align: center;
	border-radius: 8px;
}

.contact-card p {
	font-size: 14px;
}

.contact-card > img {
	border: 8px solid white;
	border-radius: 50%;
	margin-top: -32px;
	width: 56px;
	height: 56px;
}

#media-container {
    display: flex;
    margin-top: 18px;
}

#media-container a {
    flex: 1;
}

#media-container a:nth-child(2) {
    border-right: 1px solid #EAEDF0;
    border-left: 1px solid #EAEDF0;
}

#media-container img {
    transition: .2s;
}

#media-container a:hover img {
    transform: scale(1.1);
}

@media only screen and (min-width: 426px) and (max-width: 767px) {
	#media-container img {
		margin: 0 28%;
	}
}

@media only screen and (min-width: 768px) {
	#media-container img {
		margin: 0 30%;
	}
}

@media only screen and (max-width: 425px) {
	.contact-card {
		margin: 50px 8px 0 8px;
		padding: 0 16px 16px 16px;
	}

	.contact-card > img {
		margin-top: -36px;
		width: 64px;
		height: 64px;
	}

	#media-container {
		margin-left: -16px;
		margin-right: -16px;
	}

	@media only screen and (max-width: 320px) {
		#media-container img {
			margin: 0 18px;
		}
	}
	
	@media only screen and (max-width: 321px) and (max-width: 360px) {
		#media-container img {
			margin: 0 22px;
		}
	}
	
	@media only screen and (min-width: 361px) and (max-width: 375px) {
		#media-container {
			margin-top: 16px;
		}
	
		#media-container img {
			margin: 0 24px;
		}
	}
	
	@media only screen and (min-width: 376px) and (max-width: 425px) {
		#media-container {
			margin-top: 14px;
		}
	
		#media-container img {
			margin: 0 32px;
		}
	}
	
	@media only screen and (min-width: 426px) {
		#media-container img {
			margin: 0 36px;
		}
	}
}