/*Styles for contacts icon*/
#contact-info {
	display: flex;
}

@media only screen and (max-width: 425px) {
	#contact-info {
		flex-direction: column;
	}

	#contact-info #media-paragraph {
		order: 1;
	}

	#contact-info #media-container {
		text-align: center;
		order: 2;
		margin-top: 24px;
	}

	#contact-info img {
		width: 68px;
		height: auto;
		margin-left: 10px;
		margin-right: 10px;
		transition: .2s;
	}
	
	#contact-info a:hover img {
		transform: scale(1.1);
	}

	@media only screen and (max-width: 375px) {
		#contact-info img {
			width: 58px;
			height: auto;
			margin-left: 6px;
			margin-right: 6px;
			transition: .2s;
		}
	}
}

@media only screen and (min-width: 426px) {
	#contact-info {
		flex-direction: row;
	}
	
	#contact-info #media-container {
		border-right: 1px solid #EAEDF0;
		padding-left: 18px;
		padding-right: 18px;
	}
	
	#contact-info img {
		width: 48px;
		height: auto;
		margin: 6px;
		transition: .2s;
	}
	
	#contact-info a:hover img {
		transform: scale(1.1);
	}
}

@media only screen and (max-width: 425px){
	.head--icon-container {
		height: 180px;
		text-align: center;
		padding: 6px 0 24px 0;
	}

	.head--icon-container img {
		height: 100%;
	}
}

@media only screen and (min-width: 426px) {
	.head--icon-container {
		height: 200px;
		text-align: center;
		padding: 6px 0 24px 0;
	}

	.head--icon-container img {
		height: 100%;
	}
}