@font-face { font-family: SanFrancisco-Light; src: url('fonts/SanFrancisco-Light.ttf');}
@font-face { font-family: SanFrancisco-Regular; src: url('fonts/SanFrancisco-Regular.ttf');}
@font-face { font-family: SanFrancisco-Bold; src: url('fonts/SanFrancisco-Regular.ttf');}
@font-face { font-family: SanFrancisco-Light-Italic; src: url('fonts/SanFrancisco-Light-Italic.ttf');}

body {
	margin: 0;
	padding: 0;
	font-family: SanFrancisco-Regular;
	-webkit-font-smoothing: antialiased;
}

.center-vertical {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.center-horizontal {
	text-align: center;
}

/*Link styles*/
.title-link {
	text-decoration: none;
	color: #000000;
}

.title-link:visited {
	color: #000000;
}

.classic-link {
	text-decoration: none;
	color: #0070c9;
	cursor: pointer;
}

.classic-link:visited {
	color: #0070c9;
}

.classic-link:hover {
	border-bottom: 1px solid #0070c9;
}

.more-left::before {
	content: "\2039";
	display: inline-block;
	padding-right: .3em;
	top: 0;
}

.more-right::after {
	content: "\203A";
	display: inline-block;
	padding-left: .3em;
	top: 0;
}

.footer {
	border-top: 1px solid #EAEDF0;
	text-align: center;
}

.footer p {
	margin-top: 12px;
	margin-bottom: 12px;
	color: #616161;
	font-size: 14px;
	font-family: SanFrancisco-Light;
}

/*Header Menu styles*/
@media only screen and (max-width: 425px) {
	.menu {
		border-top: 1px solid #EAEDF0;
	}

	.menu ul {
		list-style-type: none;
		margin: 0;
		padding: 13px 26px 13px 26px;
		overflow: hidden;
		font-family: SanFrancisco-Light;
	}

	.menu li {
		padding: 8px 0px 8px 0px;
		font-size: 17px;
	}

	.menu a {
		text-decoration: none;
	}

	.menu li:not(.selected) a {
		color: #616161;
	}

	.menu li.selected a {
		color: #0070c9;
	}
}

@media only screen and (min-width: 426px) {
	.menu {
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-top: -44px;
	}

	.menu ul {
		list-style-type: none;
		margin-bottom: -1px;
		padding: 0;
		overflow: hidden;
		font-family: SanFrancisco-Light;
	}

	.menu li {
		display: inline-block;
		float: none;
		font-size: 17px;
	}

	.menu li:not(.selected) {
		padding: 12px 12px 12px 12px;
	}

	.menu li.selected {
		padding: 12px 12px 10px 12px;
		border-bottom: 2px solid #0070c9;
	}

	.menu a {
		text-decoration: none;
	}

	.menu li:not(.selected) a {
		color: #616161;
	}

	.menu li:not(.selected) a:hover {
		color: #0070c9;
	}

	.menu li.selected a {
		color: #0070c9;
	}
}