.bottom-divider {
	border-bottom: 1px solid #EAEDF0;
}

.header {
	position: relative;
}

.heading h1 { /*Titolo*/
	font-weight: normal;
	margin: 0;
	padding: 0;
	color: #000000;
	font-family: SanFrancisco-Light;
}

.heading h2 { /*Sottotitolo*/
	font-weight: normal;
	margin: 0;
	padding: 0;
	position: relative;
	color: #3c3c3c;
	font-family: SanFrancisco-Light;
}

.heading h3 { /*Descrizione*/
	font-weight: normal;
	margin: 0;
	padding: 0;
	color: #757575;
	font-family: SanFrancisco-Light-Italic;
}

.chapters {
	position: relative;
}

.chapter {
	border-bottom: 1px solid #EAEDF0;
}

.chapter:nth-last-of-type(1) {
	border-bottom: none;
}

.chapter-wrapper {
	position: relative;
}

.subheading {
	margin-bottom: 18px;
}

.subheading-title { /*Titolo capitolo*/
	box-sizing: border-box;
	margin: 0;
    padding: 0;
	font-weight: normal;
	color: #3c3c3c;
	font-family: SanFrancisco-Light;
}

.subheading-title::after {
	content: '';
    border-top: 1px solid #959BA0;
    height: 1px;
    width: 100%;
    display: block;
    position: relative;
    z-index: -1;
}

.subheading-title span {
	background-color: #ffffff;
}

.chapter-wrapper p {
	line-height: 1.8em;
	color: #616161;
	font-size: 17px;
	margin-bottom: 10px;
	margin-top: 0;
	font-family: SanFrancisco-Light;
}

.chapter-wrapper p:nth-last-child(1) {
	margin-bottom: 0;
}

@media only screen and (max-width: 425px) {
	.header {
		padding-top: 84px;
		padding-bottom: 84px;
	}

	.heading {
		text-align: left;
		max-width: 100%;
		padding-left: 26px;
		padding-right: 26px;
	}

	.heading h1 { /*Titolo*/
		font-size: 40px;
		margin-bottom: 12px;
	}

	.heading h2 { /*Sottotitolo*/
		font-size: 18px;
		text-align: left;
	}

	.heading h3 { /*Descrizione*/
		font-size: 14px;
		margin-top: 16px;
	}

	.chapter-wrapper {
		padding-top: 40px;
		padding-bottom: 40px;
		padding-left: 26px;
		padding-right: 26px;
		max-width: 100%;
	}

	.subheading {
		text-align: left;
	}

	.subheading-title { /*Titolo capitolo*/
		font-size: 32px;
	}
	
	.subheading-title::after {
		top: -20px;
	}
	
	.subheading-title span {
		padding-right: 12px;
	}
	
	@media only screen and (max-width: 375px) {
		.heading h1 { /*Titolo*/
			font-size: 32px;
		}

		.heading h2 { /*Sottotitolo*/
			font-size: 17px;
		}
	
		.heading h3 { /*Descrizione*/
			font-size: 13px;
			margin-top: 16px;
		}

		.subheading-title { /*Titolo capitolo*/
			font-size: 26px;
		}
		
		.subheading-title::after {
			top: -16px;
		}
	}
}

@media only screen and (min-width: 426px) {
	.header {
		padding-top: 112px;
		padding-bottom: 112px;
	}

	.heading {
		text-align: center;
		max-width: 600px;
		margin: auto;
	}

	.heading h1 { /*Titolo*/
		font-size: 54px;
		margin-bottom: 10px;
	}

	.heading h2 { /*Sottotitolo*/
		font-size: 22px;
		margin-left: 12px;
		margin-right: 12px;
		position: relative;
		text-align: center;
	}

	.heading h3 { /*Descrizione*/
		font-size: 15px;
		margin-top: 17px;
	}

	.chapter-wrapper {
		padding-top: 60px;
		padding-bottom: 60px;
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.subheading {
		text-align: center;
		margin-bottom: 18px;
	}
	
	.subheading-title { /*Titolo capitolo*/
		font-size: 22px;
	}
	
	.subheading-title::after {
		top: -13px;
	}
	
	.subheading-title span {
		padding-left: 12px;
		padding-right: 12px;
	}

	.chapter-wrapper p {
		margin-left: 24px;
		margin-right: 24px;
	}
}

/*Styles for subject selection*/
#subject-container {
	margin-top: 28px;
	margin-left: 24px;
	margin-right: 24px;
	margin-bottom: -10px;
}

@media only screen and (max-width: 425px) {
	#subject-container {
		margin-top: 22px;
	}
}

@media only screen and (max-width: 320px) {
	#subject-container {
		margin-top: 16px;
		margin-left: 0px;
		margin-right: 0px;
	}	
}

.topic {
	display: inline-block;
	width: 90px;
	height: 90px;
	margin: 10px;

	background-color: #EEEEEE;
	border-radius: 30%;
	box-shadow: 0 5px 13px -5px rgba(0, 0, 0, 0.4);

	overflow: hidden;
	position: relative;
	-webkit-tap-highlight-color: transparent;
}

.topic .topic-icon {
	height: 100%;
	width: 70px;
	fill: #74b5f7;
	transition: 0.2s linear;
}

.topic:hover .topic-icon {
	transform: scale(1.1);
	fill: #ffffff;
}

.topic:before {
	content: "";
	position: absolute;
	width: 120%;
	height: 120%;
	background-color: #74b5f7;
	transform: rotate(45deg);
	left: -110%;
	top: 90%;
}

.topic:hover::before {
	animation: topic-animation 0.7s 1;
	top: -10%;
	left: -10%;
}

@keyframes topic-animation {
	0%{
		top: -110%;
		left: 90%;
	}50%{
		top: 10%;
		left: -30%;
	}100%{
		top: -10%;
		left: -10%;
	}
}

/*Those styles are related to the left menu-index in each section*/

@media only screen and (min-width: 1200px) {
	.menu-dex {
		display: block;
		width: 220px;
		border-right: 1px solid #EAEDF0;
		position: absolute;
		left: 0;
		top: 0;
		padding: 32px;
		color: #616161;
		font-family: SanFrancisco-Light;
	}

	.menu-dex p {
		font-weight: normal;
		font-size: 17px;
		border-bottom: 1px solid #EAEDF0;
		padding-bottom: 4px;
		margin: 0;
	}

	.menu-dex ul {
		list-style-type: circle;
		padding-left: 24px;
		margin-top: 6px;
		margin-bottom: 6px;
	}

	.menu-dex ul li {
		padding-top: 6px;
		padding-bottom: 6px;
		font-size: 15px;
	}

	.menu-dex a {
		text-decoration: none;
		color: #616161;
		cursor: pointer;
	}

	.menu-dex a:visited {
		color: #616161;
	}
	
	.menu-dex a:hover {
		border-bottom: 1px solid #919191;
	}
}

@media only screen and (max-width: 1099px) {
	.menu-dex {
		display: none;
	}
}

/*Styles for realization process*/
.process-image {
	width: 100%;
	height: auto;
	border-bottom: 1px solid #EAEDF0;
}

.image-container p {
	font-size: 14px;
}