/*Styles for subject selection*/
#subject-container {
	margin-top: 28px;
	margin-bottom: -10px;
}

.topic {
	display: inline-block;
	margin: 10px;

	background-color: #EEEEEE;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .2);

	overflow: hidden;
	position: relative;
	-webkit-tap-highlight-color: transparent;
}

.topic .topic-icon {
	height: 100%;
	width: 70px;
	fill: #74b5f7;
	transition: 0.2s linear;
}

.topic:hover .topic-icon {
	transform: scale(1.1);
	fill: #ffffff;
}

.topic:before {
	content: "";
	position: absolute;
	width: 120%;
	height: 120%;
	background-color: #74b5f7;
	transform: rotate(45deg);
	left: -110%;
	top: 90%;
}

.topic:hover::before {
	animation: topic-animation 0.7s 1;
	top: -10%;
	left: -10%;
}

@media only screen and (max-width: 375px) {
	.topic {
		width: 80px;
		height: 80px;
		border-radius: 35%;
	}

	@media only screen and (max-width: 320px) {
		#subject-container {
			margin-top: 16px;
			margin-left: 0px;
			margin-right: 0px;
		}	
	}
}

@media only screen and (max-width: 425px) {
	#subject-container {
		margin-top: 22px;
	}
}

@media only screen and (min-width: 376px) {
	.topic {
		width: 85px;
		height: 85px;
		border-radius: 35%;
	}
}

@media only screen and (min-width: 426px) {
	#subject-container {
		margin-left: 24px;
		margin-right: 24px;
	}
}

@keyframes topic-animation {
	0%{
		top: -110%;
		left: 90%;
	}50%{
		top: 10%;
		left: -30%;
	}100%{
		top: -10%;
		left: -10%;
	}
}