/*Styles for Info HTML*/
.people-card {
	background: white;
	filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.2));
	margin: 60px 20% 0 20%;
	padding-bottom: 16px;
	text-align: center;
	border-radius: 8px;
}

.people-card p {
	font-size: 14px;
}

.people-card img {
	border: 8px solid white;
	border-radius: 50%;
	margin-top: -32px;
	width: 56px;
	height: 56px;
}

@media only screen and (max-width: 767px){
	.people-card {
		margin: 50px 8px 0 8px;
		padding: 0 16px 16px 16px;
	}

	.people-card img {
		margin-top: -36px;
		width: 64px;
		height: 64px;
	}
}