@font-face { font-family: SanFrancisco-Regular; src: url('fonts/SanFrancisco-Regular.ttf');}
@font-face { font-family: SanFrancisco-Bold; src: url('fonts/SanFrancisco-Regular.ttf');}

body {
	margin: 0;
	padding: 0;
	font-family: SanFrancisco-Regular;
	-webkit-font-smoothing: antialiased;
}

.center-vertical {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.center-horizontal {
	text-align: center;
}

.bottom-divider {
	border-bottom: 1px solid #EAEDF0;
}

.header {
	padding-top: 112px;
	padding-bottom: 112px;
}

.heading {
	width: 600px;
	text-align: center;
	margin: auto;
}

.heading h1 { /*Titolo*/
	font-weight: normal;
	font-size: 54px;
	margin: 0;
	padding: 0;
	margin-bottom: 12px;
	color: #000000;
}

.subtitle-container h2 { /*Sottotitolo*/
	font-weight: normal;
	font-size: 22px;
	margin: 0;
	padding: 0;
	margin-left: 12px;
	margin-right: 12px;
	position: relative;
	text-align: center;
	color: #5D6063;
}

.heading h3 { /*Descrizione*/
	font-weight: normal;
	font-size: 15px;
	margin: 0;
	padding: 0;
	margin-top: 12px;
	color: #757575;
}

.subtitle-container {
	display: flex;
}

.ruler-after, .ruler-before {
	border-top: 1px solid #959BA0;
	flex: 1;
	position: relative;
	top: 13px;
}

.chapter {
	border-bottom: 1px solid #EAEDF0;
}

.chapter-wrapper {
	position: relative;
	padding-top: 60px;
	padding-bottom: 60px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.chapter:first-child .chapter-wrapper {
	padding-top: 40px;
}

.chapter-wrapper p {
	line-height: 1.7em;
	color: #616161;
	font-size: 17px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 0;
}

.chapter-wrapper p:last-child {
	margin-bottom: 0;
}

.chapter-wrapper .subtitle-container {
	margin-bottom: 18px;
}

.chapter-wrapper .subtitle-container h2 {
	font-size: 28px;
}

.chapter-wrapper .ruler-after, .chapter-wrapper .ruler-before {
	top: 16px;
}

/*Styles for subject selection*/
.topic {
	display: inline-block;
	width: 90px;
	height: 90px;
	margin: 10px;

	background-color: #EEEEEE;
	border-radius: 30%;
	box-shadow: 0 5px 13px -5px rgba(0, 0, 0, 0.4);

	overflow: hidden;
	position: relative;
}

.topic .topic-icon {
	height: 100%;
	width: 60px;
	fill: #74b5f7;
	transition: 0.2s linear;
}

.topic:hover .topic-icon {
	transform: scale(1.2);
	fill: #ffffff;
}

.topic:before {
	content: "";
	position: absolute;
	width: 120%;
	height: 120%;
	background-color: #74b5f7;
	transform: rotate(45deg);
	left: -110%;
	top: 90%;
}

.topic:hover::before {
	animation: topic-animation 0.7s 1;
	top: -10%;
	left: -10%;
}

@keyframes topic-animation {
	0%{
		top: -110%;
		left: 90%;
	}50%{
		top: 10%;
		left: -30%;
	}100%{
		top: -10%;
		left: -10%;
	}
}

.more {
	text-decoration: none;
	color: #0070c9;
}

.more:visited {
	color: #0070c9;
}

.more::after {
	content: "\203A";
	padding-left: .3em;
	top: 0;
}